// intro.scss
@import "./mixin.scss";
@import "./reset.css";

html, body {
    font-size: 16px;
}

.intro-wrap{
    height: 100vh;
    background-color: #FFFFFF;
    animation: bgAni 1s forwards linear 1s;

    .intro-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        position: relative;

        p{
            font-family: "Josefin Sans", sans-serif;
            text-align: center;
            font-weight: bold;
        }

        @include desktop {
            p{
                font-size: 8.333vw;
            }
        }

        @include tablet {
            p{
                font-size: 10.666vw;
            }
        }

        @include mobile {
            p{
                font-size: 12.999vw;
            }
        }

        .txt1{
            position: absolute;
            color: #111111;
            animation: txtAni 1.1s forwards ease;
        }
        .txt2{
            position: absolute;
            width: 1px; height: 1px;
            overflow: hidden;
            color: #111111;
            animation: txtAni2 1.5s forwards ease 1.75s;
        }
        .txt3{
            position: absolute;
            width: 1px; height: 1px;
            overflow: hidden;
            color: #111111;
            animation: txtAni3 1.25s forwards ease 2.9s;
        }

    }

}

@keyframes txtAni {
    0% {
    }
    100% {
        transform: translateY(-100%);
        color: #FFFFFF;
    }
}

@keyframes txtAni2 {
    0%{
    }
    100%{
        color: #FFFFFF;
        overflow: visible;
        width: auto; height: auto;
    }
}

@keyframes txtAni3 {
    0%{

    }
    100%{
        overflow: visible;
        color: #FFFFFF;
        width: auto; height: auto;
        transform: translateY(100%);
    }
}

@keyframes bgAni {
    0%{

    }
    100%{
        background-color: #111111;
    }
}